html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: #f7f7f7;
    font-size: 1.8rem;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    display: inline-block;
    color: #000000;
}

.title::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 1px;
    background-color: #7562E0;
    height: 2px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

header {
    height: 30px;
    padding-top: 3.2rem;
    padding-bottom: 4.2rem;
}

header .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_logo {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000000;
    transition: .24s ease;
}

.header_logo:hover {
    color: #7562E0;
}

.header_navigation {
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
}

.header_navigation li {
    list-style: none;
    margin-left: 5rem;
}

.header_navigation li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #000000;
    transition: .9s ease;
}

.header_navigation li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: #7562E0;
    transition: .36s ease-in;
}

.header_navigation li a:hover::after {
    opacity: 1;
}

.first_screen .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.avatar_f_s {
    width: 46rem;
    height: 53.8rem;
}

.avatar_f_s::after {
    content: "";
    position: absolute;
    width: 14rem;
    height: 100%;
    margin-left: -5%;
    z-index: -1;
    background-image: url(../images/4_lines.svg);
    background-repeat: no-repeat;
}

.description_f_s {
    width: 28.4rem;
    overflow: hidden;
    padding-top: 10.7rem;
    padding-right: 13.7rem;
}

.description_f_s h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #000000;
    margin-bottom: 2.5rem;
}

.description_f_s h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.99rem;
    color: #7562E0;
    margin-bottom: 4.9rem;
}

.description_f_s p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 7.7rem;
    color: #000000;
}

.description_f_s p span {
    color: #7562E0;
}

.description_f_s a {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.7rem;
    padding: 2rem 3rem;
    color: #FFFFFF;
    background: #7562E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: .5s ease;
}

.description_f_s a:hover {
    background-color: #624ddc;
}

/*.about_me{
   
    
   &::after{
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 60rem;
        top: 100%;
        left: -50%;
        z-index: -1;
        background-color: #fff;
        margin-top: -63rem;
        transform: rotate(-4deg); 
        
    }
}*/
.about_me_text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about_me_description {
    width: 46rem;
    overflow: hidden;
}

.about_me_description p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #000000;
}

.about_me_description p br {
    margin-bottom: 1.1rem;
}

.advantages_list li {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
}

.advantages_list li img {
    width: 4.3rem;
    height: 4.3rem;
}

.advantages_list li p {
    margin: 0;
    margin-top: 1rem;
    margin-left: 3.6rem;
    text-align: center;
}

.advantages_list li:last-child {
    margin: 0;
}

.am_bottom_title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.my_works {
    padding-bottom: 4rem;
}

.my_works h2 {
    text-align: center;
}

.works_list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.works_item {
    width: 49.8rem;
    height: 49.4rem;
    background-color: #fff;
    margin-bottom: 4.3rem;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.works_item_header {
    width: 49.8rem;
    height: 41.1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.works_item_bottom {
    height: 5.3rem;
    background: rgba(115, 90, 255, 0.31);
    padding: 1.5rem 2.4rem;
}

.works_item_bottom p {
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.7rem;
    color: #000000;
    margin: 0;
}

.contacts {
    padding-top: 5rem;
    padding-bottom: 10rem;
  /* &::after{
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 80rem;
        top: 100%;
        left: -50%;
        z-index: -1;
        background-color: #fff;
        margin-top: -72rem;
        
        transform: rotate(-4deg); 
    }*/
}

.contacts .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contacts_left h2 {
    margin-top: 0;
}

.contacts_left .contacts_left_description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #7562E0;
}

.contacts_left p, .contacts_left .mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
}

.contacts_socials {
    display: -ms-flexbox;
    display: flex;
}

.contacts_socials li {
    margin-right: 7.7rem;
    transition: .26s ease-in-out;
}

.contacts_socials li:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.contacts_socials li:last-child {
    margin-right: 0;
}

#feedback-form {
    width: 55rem;
    height: 58rem;
    background: #7562E0;
    border-radius: 3px 3px 3px 0px;
    padding: 3.6rem 5.5rem;
}

#feedback-form h2 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 6rem;
}

#feedback-form input, #feedback-form textarea {
    display: block;
    margin-bottom: 5.5rem;
}

#feedback-form .file_input {
    display: none;
}

.input_name, .input_email, .textarea {
    width: 44.2rem;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D1D1D1;
}

.input_name::-webkit-input-placeholder, .input_email::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.input_name::-moz-placeholder, .input_email::-moz-placeholder, .textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.input_name:-ms-input-placeholder, .input_email:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.input_name::-ms-input-placeholder, .input_email::-ms-input-placeholder, .textarea::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.input_name::placeholder, .input_email::placeholder, .textarea::placeholder {
    color: #fff;
    opacity: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.textarea {
    width: 44.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #FFFFFF;
    resize: none;
}

.add_file {
    display: block;
    border: none;
    width: 44.2rem;
    height: 3rem;
    margin: 0 auto;
    background: url("../images/addFile.svg") left no-repeat;
    cursor: pointer;
    margin-bottom: 6.8rem;
}

.add_file .add_file_text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 4rem;
    padding-top: .5rem;
}

.input_send {
    margin: 0 auto;
    padding: 1.8rem 8.7rem;
    border: none;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    cursor: pointer;
    color: #232323;
    transition: .5s ease;
}

.input_send:hover {
    background-color: #e8e8e8;
}

footer {
    height: 8rem;
    background: #212121;
}

footer .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background: #212121;
}

footer p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    color: #FFFFFF;
}

.footer_socials {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.footer_socials li {
    list-style: none;
    margin-right: 5.5rem;
    transition: .26s ease-in-out;
}

.footer_socials li:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.footer_socials li:last-child {
    margin-right: 0;
}
